@charset "UTF-8";
/* regra utilizada para tratar incompatibilidade de catacteres. Existem diversas regras, que são sempre precedidas de @ e aplicadas no início do arquivo CSS */

body {
    background-color: lightblue;
    font-family: Arial, Helvetica, sans-serif;
}

h3 {
    color: rgb(0, 0, 180);
    background-color: aliceblue;
    text-align: center;
}

h4 {
    color: brown;
}

p {
    text-align: justify;
}