@charset "UTF-8";


/*
- id em HTML é # em CSS (só pode um elemento no mesmo documento HTML)
- class em HTML é . em CSS (podem vários elementos no mesmo documento HTML)
*/

body {
	background-color: #dbf4ff;
	font-family: Arial, Helvetica, sans-serif;
}

h3 {
	color: #315261;
}

h3#principal {
	text-align: center;
	background-color: #315261;
	color: white;
}

h4 {
	color: #5892AD;
}

.basico {
	color: #5892AD;

}

.intermediario {
	color: #ada458;
}

.avancado {
	color: #ad5858;
}

p {
	text-align: justify;
	color: #2b3235;
}

.destaque {
	background-color: #58ad5f;
}


