@charset "UTF-8";


/*
id em HTML é # em CSS
class em HTML é . em CSS
*/

body {
	background-color: #BAD8E6;
	font-family: Arial, Helvetica, sans-serif;
}

h3 {
	color: #315261;
}

h3#principal {
	text-align: center;
	background-color: #315261);
	color: white;
}

h4 {
	color: #5892AD;
}

p {
	text-align: justify;
	color: #2b3235;
}


