@charset "UTF-8";

/* VERSÃO PARA TODAS AS MÍDIAS */

/* 
    Typical Devices Breakpoints
    --------------------------------
    Pequenas telas: até 600px
    Celular: de 600px até 768px
    Tablet: de 768px até 992px
    Desktop: de 992px até 1200px
    Grandes telas: acima de 1200px
*/

/* 
    Paleta de cores
    Verde: #49a09d
    Lilás: #5f2c82 
*/

/* VERSÃO PARA TABLET */
@media screen and (min-width: 768px) and (max-width: 992px) {

    body {
        background-image: linear-gradient(to top, #49a09d, #5f3c82) ;
    }

    section#login {
        width: 80vw;
        height: 350px;
    }

    section#login > div#imagem {
        width: 40%;
        height: 100%;
        float: left;
    }

    section#login > div#formulario {
        width: 60%;
        height: 100%;
        float: right;
    }

    div.campo > input {
        transform: translate(-0.1px , -6px);
    }

    /* form > input[type=submit] {
        width: 240px;
    }

    form > a.esqueci-senha {
        width: 240px;
    } */
    
}


/* VERSÃO PARA DESKTOP E TELAS GRANDES */
@media screen and (min-width: 992px) {

    body {
        background-image: linear-gradient(to top, #49a09d, #5f3c82) ;
    }

    section#login {
        width: 70vw;
        height: 400px;
    }

    section#login > div#imagem {
        width: 50%;
        height: 100%;
        float: right;
    }

    section#login > div#formulario {
        width: 50%;
        height: 100%;
        float: left;
    }

    div.campo > input {
        transform: translate(-0.1px , -6px);
    }

    /* form > input[type=submit] {
        width: 240px;
    }

    form > a.esqueci-senha {
        width: 240px;
    } */
    
}


