@charset "UTF-8";

/* VERSÃO PARA TODAS AS MÍDIAS */

/* 
    Typical Devices Breakpoints
    --------------------------------
    Pequenas telas: até 600px
    Celular: de 600px até 768px
    Tablet: de 768px até 992px
    Desktop: de 992px até 1200px
    Grandes telas: acima de 1200px
*/


/* 
    Paleta de cores
    Verde: #49a09d
    Lilás: #5f2c82 
*/