@charset "UTF-8";

/* Versão mobile first */


* {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box; 
}

html, body {
    background-color: lightgray;
}

header {
    background-color: gray;
}

header > h1 {
    padding: 50px;
    font-size: 2em;
    text-align: center;
    color: white;
}

span#menu-hamburguer {
    background-color: rgb(29, 29, 29);
    color: white;
    display: block;
    text-align: center;
    padding: 10px;
    cursor: pointer;
}

/* span#menu-hamburguer:hover {
    background-color: rgb(245, 245, 245);
    color: rgb(29, 29, 29);
} */

nav {
    display: none;
}

nav > ul {
    list-style-type: none;
}

nav > ul > li > a {
    display: block;
    padding: 10px;
    background-color: rgb(66, 66, 66);
    text-decoration: none;
    text-align: center;
    color: white;
    border-top: 1px solid grey;
}

nav > ul > li > a:hover {
    background-color: rgb(175, 175, 175)
}

main {
    width: 90vw;
    margin: auto;
    margin-top: 10px;
    padding: 20px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.219);
}

article h2 {
    padding-bottom: 20px;
}

article > p {
    padding-bottom: 20px; 
    text-align: justify;
    text-indent: 20px;
    line-height: 1.5em;    
}

article ul {
    padding-bottom: 20px;
    padding-left: 20px;
    line-height: 1.5em;    
}

article img {
    width: 80vw;
    max-width: 700px;
    display: block;
    margin: auto;
    margin-bottom: 20px;
}

p#rockcontent {
    font-weight: bold;
    font-style:italic;
    text-decoration: none;
    margin-top: 30px;
}

p#rockcontent > a {
    text-decoration: none;
    padding: 3px;
}

p#rockcontent > a:hover {
    background-color: rgb(0, 142, 207);
    color: white;
}

footer {
    margin-top: 40px;
    padding: 35px;
    background-color: rgba(153, 153, 153, 0.452);
    text-align: center;
}